sublime/sublime-text/Lib/
sublime/sublime-text/Local/
sublime/sublime-text/Packages/User/Package Control.user-ca-bundle
sublime/sublime-text/Packages/User/Package Control.sublime-settings
sublime/sublime-text/Backup/

